/* Updated CSS */
.projects-container {
  background-color: #1b1f24;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.projects-container h1 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: left;
  margin-left: 200px;
}

.projects-container h2 {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.4em;
  text-align: left;
  margin-left: 200px;
}

.project {
  display: flex;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.project-box {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.project-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 500px;
  height: 500px;
}

.description {
  color: #ffffff;
  font-size: 27px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}